
.container {
    text-align: center;
}

#myCarousel {
    background-color: greenyellow;
}

#myCarousel img {
    height: 300px;
    margin-top: 35px;
}

.carousel-inner p {
    margin-bottom: 15px;
    margin-top: 15px;
    color: black;
    font-size: 20px;
}
#h2{
    text-align: center;
}
#Images{
    text-align: center;
}
